{{>head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Me duele la cabeza !!!</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/Cefaleas.jpg" alt="dolor de cabeza" class="img-thumbnail">
    </div>
</div>

{{> footer}}